{% extends "base.html" %}

{% block content %}
    <h1>Миссия Колонизация Марса</h1>

    {% set professions = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
    'инженер по терраформированию', 'климатолог', 'специалист по радационной защите' 
     'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метереолог',
         'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
         
    {% if param == 'ol' %}
    <ol>
        {% for prof in professions %}
            <li>{{ prof }}</li>
        {% endfor %}
    </ol>
    
    {% elif param == 'ul' %}
    <ul>
        {% for prof in professions %}
            <li>{{ prof }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Неверный параметр</h2>
    {% endif  %}
{% endblock %}