<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Документ</title>
</head>
<body>
    {% block content %}
    <h1>Миссия Колонизация Марса</h1>

    <h2>Список профессий</h2>

    {% set professions = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
    'инженер по терраформированию', 'климатолог', 'специалист по радационной защите' 
     'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метереолог',
         'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
         
    {% if param == 'ol' %}
    <ol>
        {% for prof in professions %}
            <li>{{ prof }}</li>
        {% endfor %}
    </ol>
    
    {% elif param == 'ul' %}
    <ul>
        {% for prof in professions %}
            <li>{{ prof }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Неверный параметр</h2>
    {% endif  %}
{% endblock %}
</body>
</html>
